* {
  padding: 0;
  margin: 0;
  /*color: #333;*/
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  -webkit-overflow-scrolling: touch;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
body{
  width: 100%;
  height: auto;
  list-style: none;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 320px;
  background-color: #f2f2f2;
  font-size: 12px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
*::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(78,78,78,0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
::-moz-placeholder{
   color: #0070c9;
   font-size: 0.9em;
 }
::-webkit-input-placeholder{
  color:#0070c9;
  font-size: 0.9em;
}
:-ms-input-placeholder{
  color:#0070c9;
  font-size: 0.9em;
}

header{
  height: 44px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  background-color: rgba(190, 190, 190, 0.2);
  z-index: 10;
}
.header-search{
  height: 100%;
  width: 100%;
  position: relative;
  padding-left: 20px;
}
.header-search .address{
  position: absolute;
  left: 2%;
  top: 16px;
  color: #fff;
  width: 54px;
  background: url(../imgs/arrowd.png)  no-repeat 100% 50%;
  background-size: auto 16px;
}
.btn{
  position: absolute;
  right: 2%;
  top: 9px;
  padding: 5px 12px;
  border: 1px solid #dadada;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.header-search input{
  width: 68%;
  height: 30px;
  margin: 8px 12% 1px;
  padding-left: 34px;
  background: url(../imgs/search-more.png) no-repeat 5px 50%;
  background-size: 16px 16px;
  background-color: rgba(56, 105, 86, 0.1);
  outline: 0;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 1.3em;
  box-sizing: border-box;
}
.header-search input:focus {
  border:#35a5e5 0px solid;
  box-shadow: 0 0 8px rgba(43, 208, 255, 1);
  -webkit-box-shadow: 0 0 8px rgba(43, 208, 255, 1);
  -moz-box-shadow: 0 0 8px rgba(43, 208, 255, 1);
}

/*gallery*/
.gallery{
  width: 100%;
  height: auto;
  margin-top: -50px;
  overflow: hidden;
}
.gallery-slide-wrapper{
  width: 100%;
  height: auto;
}
.slick-dotted.slick-slider{
  margin-bottom: 0;
}
.slick-dots li button:before{
  opacity: 0.8;
}
.slick-dots li{
  margin: 0 5px 0 0;
}
.slick-dots{
  bottom: -6px;
}
.slick-dots li button:before{
  width: 6px;
  height: 6px;
  content: '';
  border: 1px solid #0070c9;
  border-radius: 50%;
}
.slick-dots li.slick-active button:before{
  background-color: #a7a7a7;
  border-color: #a7a7a7;
}
.gallery-item img{
  width: 100%;
}
/*end gallery*/

/*search-label*/
.search-label{
  width: 100%;
  min-height: 90px;
  background-color: #fff;
}
.search-container{
  width: 94%;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 6px;
  padding-top: 12px;
}
.search-wrapper{
  background-color: #FFF;
  width: 100%;
  min-height: 75px;
  padding: 12px 5px 8px 10px;
  position: relative;
  border-radius: 5px 5px 0 0;
  border: 1px solid #e3e3e3;
  box-shadow: 2px 2px 5px #e3e3e3;
  border-bottom: 2px solid #4caf50;
}

.search-header{
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 10px;
}
.header-logo{
  display: inline-block;
  float: left;
  margin: 0 12px 0 3px;
  width: 45px;
  height: 45px;
  background: url(../imgs/icon.png) no-repeat 50% 50%;
  background-size: cover;
}
.header-title{
  font-size: 1.4em;
  line-height: 1.4em;
}
.header-description{
  font-size: 1.2em;
  line-height: 1.6em;
  color: #707070;
  padding-left: 60px;
}

.search-body{
  padding: 5px 10px 5px 12px;
}
.search-list{
  width: 100%;
}
.search-list::after{
  content: '';
  display: block;
  clear: both;
}
.search-list a{
  display: inline-block;
  width: 25%;
  float: left;
}
.search-item{
  width: 100%;
  height: auto;
}
.search-item p{
  text-align: center;
  margin-top: 5px;
  color: #707070;
}
.search-item>.item-img{
  height: 45px;
  margin: 6px 0;
}
.search-list a:nth-of-type(1)>.search-item>.item-img{
  background: url(../imgs/hospital.svg) no-repeat 50% 100%;
  background-size: auto 100%;
}
.search-list a:nth-of-type(2)>.search-item>.item-img{
  background: url(../imgs/group.svg) no-repeat 50% 50%;
  background-size: auto 86%;
}
.search-list a:nth-of-type(3)>.search-item>.item-img{
  background: url(../imgs/health.svg) no-repeat 50% 100%;
  background-size: auto 90%;
}
.search-list a:nth-of-type(4)>.search-item>.item-img{
  background: url(../imgs/server.svg) no-repeat 50% 100%;
  background-size: auto 100%;
}
/*end search-body*/

/*hospital-group*/
.hospital-group{
  width: 100%;
  background: #eee;
  position: relative;
  display: none;
  overflow: hidden;
}
.group-toggle{
  width: 100%;
  height: 55px;
  display: inline-block;
  background-color: #fff;
  position: relative;
}
.icon-plus{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: red;
  display: inline-block;
  background: url(../group_imgs/line.png) no-repeat center center;
  background-size: 100%;
}
.icon-plus:nth-of-type(1){
  transform: rotate(45deg);
}
.icon-plus:nth-of-type(2){
  transform: rotate(-45deg);
}
.toggle-button{
  border: 0;
  outline: 0;
  display: block;
  position: relative;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: rgba(100  , 100, 100, 0.8);
  margin: 10px auto;
}
.close{
  animation: close 0.5s linear alternate;
}
.open{
  animation: open 0.3s ease-out alternate;
}
@keyframes close {
  0%{
    opacity: 1;
    transform: rotate(0) scale(1);
  }
  100%{
    opacity: 0.2;
    transform: rotate(-45deg) scale(0.6);
  }
}
@keyframes open {
  100%{
    opacity: 1;
    transform: rotate(0) scale(1);
  }
  0%{
    opacity: 0.2;
    transform: rotate(-45deg) scale(0.6);
  }
}
.hospital-container{
  /*position: absolute;*/
  /*top: 64px;*/
}
.hospital-container .hospital-list{
  /*background: linear-gradient(180deg, #fff, #7ab9e4, #67a8e4 90%, #67a8e4);*/
  background: linear-gradient(180deg, #fff, #7ab9e4, #67a8e4 60%, rgba(242, 248, 253, 0.5));
  padding-bottom: 50px;
  margin: 0;
}
.hospital-container .hospital-list a{
  border-bottom: 1px solid rgba(255,255,255,0.52);
}
.hospital-container .hospital-list a .hospital-item{
  color: #2b2b2b;
}
.hospital-container .hospital-list a .hospital-item .item-location,
.hospital-container .hospital-list a .hospital-item .item-phone{
  line-height: 1.5em;
}
.hospital-container .hospital-list>a:nth-of-type(1)>.hospital-item>.item-img{
  background: url(../imgs/nmgzl.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.hospital-container .hospital-list>a:nth-of-type(2)>.hospital-item>.item-img{
  background: url(../imgs/nmgfy.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.hospital-container .hospital-list>a:nth-of-type(3)>.hospital-item>.item-img{
  background: url(../imgs/nmgrm.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.hospital-container .hospital-list>a:nth-of-type(4)>.hospital-item>.item-img{
  background: url(../imgs/nmgmy.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.hospital-container .hospital-list>a:nth-of-type(5)>.hospital-item>.item-img{
  background: url(../imgs/nmgdefs.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.hospital-container .hospital-list>a:nth-of-type(6)>.hospital-item>.item-img{
  background: url(../imgs/nmgdy.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.hospital-container .hospital-list>a:nth-of-type(7)>.hospital-item>.item-img{
  background: url(../imgs/nmgrj.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.hospital-container .hospital-list>a:nth-of-type(8)>.hospital-item>.item-img{
  background: url(../imgs/nmgds.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.hospital-container .hospital-list>a:nth-of-type(9)>.hospital-item>.item-img{
  background: url(../imgs/nmg253.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.hot-group-container{
  width: 100%;
  margin: 0 auto;
  border-radius: 6px;
}
.hot-group-container .group-list{
  width: 100%;
  float: left;
  padding-bottom: 30px;
  /*background: linear-gradient(180deg, #f3f9ff, #67a8e4, #7ab9e4 80%, #fff);*/
  background: linear-gradient(180deg, #fff, #7ab9e4, #67a8e4 70%, rgba(242, 248, 253, 0.1));
}
.hot-group-container .group-list a{
  display: inline-block;
  width: 25%;
  float: left;
  border-right: 1px solid rgba(255,255,255,0.22);
  margin-right: -1px;
  margin-left: 1px;
  border-bottom: 1px solid rgba(255,255,255,0.52);
}
.hot-group-container .group-item{
  width: 100%;
  height: auto;
  margin: 15px 0;
}
.hot-group-container .group-item .item-icon{
  display: block;
  margin: 0 auto 10px;
  width: 36%;
  padding-bottom: 36%;
  background-size: 100% 100%;
}
.hot-group-container .group-item .item-title{
  text-align: center;
  margin-top: 5px;
  color: #fff;
}
.hot-group-container .group-list a:nth-of-type(1)>.group-item>.item-icon{
  background: url(../group_imgs/bone.png) no-repeat center center;
  background-size: cover;
}
.hot-group-container .group-list a:nth-of-type(2)>.group-item>.item-icon{
  background: url(../group_imgs/child.png) no-repeat center center;
  background-size: cover;
}
.hot-group-container .group-list a:nth-of-type(3)>.group-item>.item-icon{
  background: url(../group_imgs/female.png) no-repeat center center;
  background-size: cover;
}
.hot-group-container .group-list a:nth-of-type(4)>.group-item>.item-icon{
  background: url(../group_imgs/mouth.png) no-repeat center center;
  background-size: cover;
}
.hot-group-container .group-list a:nth-of-type(5)>.group-item>.item-icon{
  background: url(../group_imgs/male.png) no-repeat center center;
  background-size: cover;
}
.hot-group-container .group-list a:nth-of-type(6)>.group-item>.item-icon{
  background: url(../group_imgs/xxg.png) no-repeat center center;
  background-size: cover;
}
.hot-group-container .group-list a:nth-of-type(7)>.group-item>.item-icon{
  background: url(../group_imgs/xh.png) no-repeat center center;
  background-size: cover;
}
.hot-group-container .group-list a:nth-of-type(8)>.group-item>.item-icon{
  background: url(../group_imgs/pf.png) no-repeat center center;
  background-size: cover;
}
.hot-group-container .group-list a:nth-of-type(9)>.group-item>.item-icon{
  background: url(../group_imgs/sj.png) no-repeat center center;
  background-size: cover;
}
.hot-group-container .group-list a:nth-of-type(10)>.group-item>.item-icon{
  background: url(../group_imgs/ebh.png) no-repeat center center;
  background-size: cover;
}
.hot-group-container .group-list a:nth-of-type(11)>.group-item>.item-icon{
  background: url(../group_imgs/mn.png) no-repeat center center;
  background-size: cover;
}
.hot-group-container .group-list a:nth-of-type(12)>.group-item>.item-icon{
  background: url(../group_imgs/sjw.png) no-repeat center center;
  background-size: cover;
}
.hot-group-container .group-list a:nth-of-type(13)>.group-item>.item-icon{
  background: url(../group_imgs/rxw.png) no-repeat center center;
  background-size: cover;
}
.hot-group-container .group-list a:nth-of-type(14)>.group-item>.item-icon{
  background: url(../group_imgs/y.png) no-repeat center center;
  background-size: cover;
}
.hot-group-container .group-list a:nth-of-type(15)>.group-item>.item-icon{
  background: url(../group_imgs/p.png) no-repeat center center;
  background-size: cover;
}
.hot-group-container .group-list a:nth-of-type(16)>.group-item>.item-icon{
  background: url(../group_imgs/gr.png) no-repeat center center;
  background-size: cover;
}
.hot-group-container .group-list a:nth-of-type(17)>.group-item>.item-icon{
  background: url(../group_imgs/zx.png) no-repeat center center;
  background-size: cover;
}
.hot-group-container .group-list a:nth-of-type(18)>.group-item>.item-icon{
  background: url(../group_imgs/f.png) no-repeat center center;
  background-size: cover;
}
.hot-group-container .group-list a:nth-of-type(19)>.group-item>.item-icon{
  background: url(../group_imgs/w.png) no-repeat center center;
  background-size: cover;
}
.hot-group-container .group-list a:nth-of-type(20)>.group-item>.item-icon{
  background: url(../group_imgs/fx.png) no-repeat center center;
  background-size: cover;
}

.health-container{

}
.health-list{
  background: linear-gradient(180deg, #fff, #7ab9e4, #67a8e4 60%, rgba(242, 248, 253, 0.5));
  padding-bottom: 50px;
  margin: 0;
}
.health-list a{
  display: block;
  width: 100%;
  min-height: 70px;
  border-bottom: 1px solid rgba(255,255,255,0.52);
  position: relative;
}
.health-item{
  color: #2b2b2b;
  padding: 9px 0 5px 10px;
}
.health-item>.item-img{
  border-radius: 5px;
  width: 46px;
  height: 46px;
  float: left;
}
.health-list>a:nth-of-type(1)>.health-item>.item-img{
  background: url(../imgs/nmgzl.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.health-list>a:nth-of-type(2)>.health-item>.item-img{
  background: url(../imgs/nmgfy.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.health-list>a:nth-of-type(3)>.health-item>.item-img{
  background: url(../imgs/zktj.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.health-list>a:nth-of-type(4)>.health-item>.item-img{
  background: url(../imgs/nmgmy.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.health-list>a:nth-of-type(5)>.health-item>.item-img{
  background: url(../imgs/zgtj.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.health-item p{
  margin-left: 60px;
}
.health-item .item-title{
  color: #333;
}
.health-item .item-phone{
  margin-top: 4px;
  line-height: 1.5em;
}
.health-item .item-location{
  line-height: 1.5em;
}
/*hospital-group end*/

.title{
  width: 100%;
  /*border-bottom: 1px solid #e8e8e8;*/
  margin: 25px 0 15px;
}
.title p{
  padding: 6px 0;
  text-align: center;
  color: #707070;
  font-size: 1.3em;
}
/*doctor list*/
.doctor{
  width: 100%;
  background: #fff;
}
.doctor-list{
  margin: 9px 0 5px 0px;
  width: 100%;
}
.doctor-list a{
  display: block;
  background-color: #FFF;
  width: 100%;
  min-height: 75px;
  border-bottom: 2px solid rgba(79, 187, 83, 0.8) ;
  position: relative;
}
.doctor-item{
  color: #9c9c9c;
  padding: 9px 0 5px 10px;
}
.doctor-item>.item-img{
  border-radius: 50%;
  width: 46px;
  height: 46px;
  float: left;
}
.doctor-list a:nth-of-type(1) .doctor-item>.item-img{
  background: url(../imgs/and.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.doctor-list a:nth-of-type(2) .doctor-item>.item-img{
  background: url(../imgs/zy.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.doctor-list a:nth-of-type(3) .doctor-item>.item-img{
  background: url(../imgs/gh.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.doctor-item>.item-title{
  margin-left: 60px;
  font-size: 1.1em;
  line-height: 20px;
  color: #333;
}
.doctor-item>.item-location {
  margin-left: 14px;
  margin-top: 7px;
  line-height: 20px;
  display: inline-block;
}
.doctor-item>.item-group{
  position: relative;
  left: 20px;
}
.doctor-item>.item-group::before{
  content: '|';
  position: absolute;
  left: -10px;
  top: -1px;
}
.doctor-item>.item-act{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 20px;
  margin-top: 5px;
}
.loadmore{
  margin-top: 10px;
  padding: 6px 0;
  text-align: center;
  color: #0070c9;
}
/*doctor-list-partial-house-call*/
.act-open{
  white-space: normal!important;
  height: auto;
}
.house-call{
  display: none;
  overflow: hidden;
}

.house-call .slick-dots{bottom: -35px;}
.house-call .slick-dots li{
  width: 10px;
}
.house-call .slick-dots li.slick-active button:before{
  background-color: #2ba1f5;
  border-color: #2ba1f5;
}
.call-container{
  width: 100%;
  padding: 10px 10px 30px 10px;
  background-color: #fff;
}
.call-container figcaption{
  text-align: center;
  padding: 5px;
  font-size: 1.2em;
}
.container-box{
  padding-left: 7px;
}
.call-container .container-box span{
  line-height: 30px;
  font-size: 1.2em;
  position: relative;
  display: inline-block;
}
.call-container .container-box-fee{
  float: right;
}
.call-container .container-box-title::before,
.call-container .container-box-fee::before{
  content: '';
  width: 3px;
  height: 12px;
  background-color: rgba(79, 187, 83, 0.8);
  position: absolute;
  left: -7px;
  top: 9px;
}

.container-cell{
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
}
.cell-item table{
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border-radius: 5px;
}
.cell-item table td{
  padding: 2px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: normal;
}
.cell-item table thead td p{
  color: #333;
  font-size: 10px;
  font-weight: 300;
}
.cell-item table thead td p:nth-of-type(2){
  line-height: 1.5em;
}
.cell-item table td:first-child{
  padding: 10px 2px;
}
td > img{
  width: 18px;
  height: 18px;
  margin: 0 auto;
}
.cell-item table tbody tr td{
  color: #fff;
}
.cell-item table tbody tr td:first-child{
  color: #333;
}
td > .green{
  background: rgb(43, 161, 245);
  border-radius: 50px;
  border: 3px solid rgb(43, 161, 245);
  padding: 8px 3px;
  vertical-align: bottom;
  cursor: pointer;
}
/*doctor-list house-call end*/
/*doctor-list end*/

/*hospital-list*/
.hospital{
  width: 100%;
  background-color: #fff;
  padding-bottom: 40px;
}
.hospital-list{
  margin: 9px 0 5px 0px;
  width: 100%;
}
.hospital-list a{
  display: block;
  width: 100%;
  min-height: 70px;
  border-bottom: 2px solid rgba(33, 150, 243, 0.79);
  position: relative;
}

.hospital-item {
  color: #9c9c9c;
  padding: 9px 0 5px 10px;
}
.hospital-item>.item-img{
  border-radius: 5px;
  width: 46px;
  height: 46px;
  float: left;
}
.hospital-list>a:nth-of-type(1)>.hospital-item>.item-img{
  background: url(../imgs/nmgzl.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.hospital-list>a:nth-of-type(2)>.hospital-item>.item-img{
  background: url(../imgs/nmgfy.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.hospital-list>a:nth-of-type(3)>.hospital-item>.item-img{
  background: url(../imgs/nmgmy.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.hospital-item p{
  margin-left: 60px;
}
.hospital-item .item-title{
  color: #333;
}
.hospital-item .item-phone{
  margin-top: 4px;
}

/*hospital-department-partial-list*/
.hospital-department{
  width: 100%;
  display: none;
  overflow: hidden;
}
.department-container{
  width: 100%;
  margin: 0 auto;
  border-radius: 6px;
}
.department-list{
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  padding-bottom: 15px;
  background: linear-gradient(180deg, #7ab9e4, #67a8e4 80%, rgba(242, 248, 253, 0.1));
}
.department-item{
  width: 80px;
  height: 80px;
  display: inline-block;
  /*border: 1px solid rgba(255,255,255,0.5);*/
  border-radius: 15px;
  margin: 5px;
  margin-left: 0;
  transition: all 0.3s linear;
}
.department-item-act{
  background-color: #0e1435;
}
.department-item .item-icon{
  display: block;
  margin: 10px auto;
  width: 45%;
  padding-bottom: 45%;
  /*background-size: 100% 100%;*/
}
.department-item .item-title{
  text-align: center;
  margin-top: 5px;
  color: #fff;
}
.department-list>.department-item:nth-of-type(1) .item-icon{
  background: url(../group_imgs/bone.png) no-repeat center center;
  background-size: cover;
}
.department-list>.department-item:nth-of-type(2) .item-icon{
  background: url(../group_imgs/child.png) no-repeat center center;
  background-size: cover;
}
.department-list>.department-item:nth-of-type(3) .item-icon{
  background: url(../group_imgs/female.png) no-repeat center center;
  background-size: cover;
}
.department-list>.department-item:nth-of-type(4) .item-icon{
  background: url(../group_imgs/mouth.png) no-repeat center center;
  background-size: cover;
}
.department-list>.department-item:nth-of-type(5) .item-icon{
  background: url(../group_imgs/male.png) no-repeat center center;
  background-size: cover;
}
.department-list>.department-item:nth-of-type(6) .item-icon{
  background: url(../group_imgs/xxg.png) no-repeat center center;
  background-size: cover;
}
.department-list>.department-item:nth-of-type(7) .item-icon{
  background: url(../group_imgs/xh.png) no-repeat center center;
  background-size: cover;
}
.department-list>.department-item:nth-of-type(8) .item-icon{
  background: url(../group_imgs/pf.png) no-repeat center center;
  background-size: cover;
}
.department-list>.department-item:nth-of-type(9) .item-icon{
  background: url(../group_imgs/sj.png) no-repeat center center;
  background-size: cover;
}
.department-list>.department-item:nth-of-type(10) .item-icon{
  background: url(../group_imgs/ebh.png) no-repeat center center;
  background-size: cover;
}
/*department-list > hospital-list > doctor*/
.hospital-list .doctor{
  display: none;
  overflow: hidden;
}


/*health-project-section*/
.health-project{
  width: 100%;
  display: none;
  overflow: hidden;
}
.project-container{
  width: 100%;
  margin: 0 auto;
}
.project-list{
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  padding-bottom: 5px;
  background: linear-gradient(180deg, #7ab9e4, #67a8e4 80%, rgba(242, 248, 253, 0.1));
}
.project-item{
  width: 90px;
  height: 90px;
  display: inline-block;
  vertical-align: text-bottom;
  border-radius: 15px;
  margin: 5px;
  margin-left: 0;
  transition: all 0.3s linear;
}
.project-item-act{
  background-color: #0e1435;
}
.project-item .item-icon{
  display: block;
  margin: 10px auto;
  width: 36%;
  padding-bottom: 36%;
}
.project-item .item-title{
  text-align: center;
  margin-top: 5px;
  color: #fff;
  white-space: pre-line;
}
.project-list>.project-item:nth-of-type(1) .item-icon{
  background: url(../group_imgs/bone.png) no-repeat center center;
  background-size: cover;
}
.project-list>.project-item:nth-of-type(2) .item-icon{
  background: url(../group_imgs/child.png) no-repeat center center;
  background-size: cover;
}

/*health-project-detail section*/
.project-detail{
  width: 100%;
  display: none;
  overflow: hidden;
}
.detail-container{
  padding-bottom: 15px;
}

.detail-container .container-box{
  padding: 15px 0 10px;
  background-color: white;
  font-size: 1.2em;
  padding-left: 10px;
}
.detail-container .container-box-fee{
  float: right;
  margin-right: 5px;
}
.detail-container .container-box-define{
  margin: 10px 0;
}
.line{
  width: 3px;
  height: 12px;
  display: inline-block;
  vertical-align: middle;
  background: rgba(79, 187, 83, 0.8);
  margin-right: 5px;
}
.container-list{
  color: white;
}
.project-detail-list{
  background: -webkit-linear-gradient(#618ec2, #2e5098);
  background: -o-linear-gradient(#618ec2, #2e5098);
  background: linear-gradient(#618ec2, #2e5098);
  padding-bottom: 5px;
}
.detail-item{
  padding: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1.2em;
  box-shadow: inset 1px 1px 0 rgba(255,255,255,0.1), 2px 2px 6px rgba(0,0,0,0.4);
}
/*.project-detail-list:last-child .details{
  padding-bottom: 5px;
}*/
.detail-item>span{
  font-size: 1.5em;
  margin-right: 5px;
  vertical-align: baseline;
}
.detail-item>span.toggle{
  float: right;
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 15px;
  background: url(../imgs/target.svg) no-repeat center center;
  background-size: cover;
  transition: all 0.2s ease-out;
}
.span-act{
  transform: rotateZ(109deg);
}
p.details{
  margin: 5px;
  padding-left: 22px;
  color: #d6d6d6;
  display: none;
  overflow: hidden;
}

.project-pay{
  padding: 15px;
  margin-top: -4px;
  background: -webkit-linear-gradient(#618ec2, #2e5098);
  background: -o-linear-gradient(#618ec2, #2e5098);
  background: linear-gradient(#618ec2, #2e5098);
  box-shadow: inset 1px 1px 0 rgba(255,255,255,0.1), 2px 2px 6px rgba(0,0,0,0.4);
}
.project-pay span{
  display: inline-block;
  width: 45%;
  cursor: pointer;
  text-align: center;
  font-size: 15px;
  padding: 14px 18px;
  border-radius: 5px;
  text-shadow: 0  -1px 0 rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.75);
  background: #00bff3;
  background: -webkit-linear-gradient(top, #4ec6f3, #1986cc);
  box-shadow: inset 1px 1px 0 rgba(255  , 255, 255, 0.1), 2px 2px 6px rgba(0,0,0,0.4);
}
.project-pay span.project-pay-buy{
  float: right;
}
